@media (max-width: 1024px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
        &-logo {
            font-size: 20px;
        }
        &-info {
            padding: 16px 0 16px 0;
            flex-direction: column;
        }

    }
    .header.scrolled {
        background-color: #222222;
        width: 100%;
        .header-logo {
          font-size: 16px;
        }
        .header-info {
          padding: 19px 29px 19px 29px;
          flex-direction: row;
        }
    }
    .top {
        padding-top: 220px;
        margin-bottom: 70px;
        &-title {
            padding-left: 20px;
        }
        &-slogan {
            font-size: 40px;
            padding-bottom: 30px;
        }
        &-text {
            font-size: 20px;
            padding-bottom: 34px;
            width: 70%;
        }
        &-bonus {
            padding: 15px;
            &__list {
                font-size: 16px;
            }
        }
        &-button {
            font-size: 16px;
        }
    }
    .description {
        margin-bottom: 70px;
        &-perks {
            width: 70%;
            padding-left: 40px;
            padding-right: 40px;
            &__list {
                font-size: 18px;
            }
            &__button {
                font-size: 16px;
            }
        }
    }
    .form {
        margin-bottom: 70px;
        justify-content: center;
        &-block {
            padding: 50px 40px 50px 40px;
            border-radius: 30px;
            background-image: url(img/img-form.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 90%;
            margin-left: 15px;
            margin-right: 15px;
        }
        &-text {
            font-size: 40px;
        }
        &-input {
            font-size: 20px;
            width: 100%;
        }
        &-agreement {
            font-size: 16px;
        }
        &-button {
            font-size: 16px;
        }
        &-img {
            display: none;
        }
    }
    .footer {
        &-info {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &-logo {
            &__name {
                font-size: 20px;
            }
            &__text {
                font-size: 16px;
            }
        }
        &-contacts {
            &__text {
                font-size: 16px;
            }
        }
        &-callback {
            &__button {
                font-size: 16px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}